<section id="dashboard">
  <div class="row mb-4">
    <div class="text-white rounded fs-4 p-3 text-center fw-bold" style="background: #5FCF80;">DASHBOARD</div>
  </div>
  <h3>Thống kê</h3>
  <div class="row text-center justify-content-between px-3">
    <div class="col-3-3 rounded p-3 fw-bold fs-6" style="height: 200px;">
      <div class="fs-1 d-flex flex-column">
        <i class="fas fa-table"></i>
        <p style="margin-top: 30px;">{{countSub}}</p>
      </div>
      <div class="abs alert alert-secondary">Subjects</div>
    </div>
    <div class="col-3-3 rounded p-3 fw-bold fs-6" style="height: 200px;">
      <div class="fs-1 d-flex flex-column">
        <i class="fas fa-users"></i>
        <p style="margin-top: 30px;">{{countStu}}</p>
      </div>
      <div class="abs alert alert-secondary">Students</div>
    </div>
    <div class="col-3-3 rounded p-3 fw-bold fs-6" style="height: 200px;">
      <div class="fs-1 d-flex flex-column">
        <i class="fas fa-book-open"></i>
        <p style="margin-top: 30px;">1579</p>
      </div>
      <div class="abs alert alert-secondary">Questions</div>
    </div>
  </div>
</section>
