<div style="height: 100px;"></div>
<div class="section-title ok alert text-white">
  <h1 class="text-center">Result</h1>
</div>
<section id="final">
  <div class="row">
    <div class="col-md-6 m-auto text-center">
      <h4 class="text-center">Bạn đã hoàn thành bài làm!</h4>
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">Số câu hỏi</th>
            <th scope="col">Số câu đúng</th>
            <th scope="col">Số câu sai</th>
            <th scope="col">Số câu trống</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th class="text-center" scope="col" colspan="4">Điểm: 10</th>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-success" [routerLink]="'/mon-hoc'">Quay lại</button>
    </div>
  </div>
</section>
